.about {
    background-color: white;
    padding: 2%;
    /* box-shadow: 0px 0px 2px 0px grey; */
    border-radius: 0px 50px 0px 50px;
}

.skills,
.passions,
.hobbies{
    background-color: white;
    padding: 2%;
    box-shadow: 0px 0px 2px 0px grey;
    border-radius: 20px;
}

li{
    color: green;
}

h3{
    background-color: rgb(201, 228, 252);
    width: 40%;
    margin: auto;
    padding: 1%;
    color: black !important;
    border-radius: 25px 0px 25px 0px;
}