<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto my-5 verify" *ngIf="!verified">

            <h3 class="text-center text-success"><strong>VERIFY</strong></h3>
            
            <!-- Verify form -->
            <form action="" [formGroup]="verifyForm">

                <div class="form-group">
                    <label for="" class="mb-1"><strong>Enter admin passcode</strong></label>
                    <input type="text" class="form-control" name="passcode" formControlName="passcode"
                    [class.is-invalid]="passcode?.invalid && passcode?.dirty"
                    >

                    <!-- Wrong passcode verification -->
                    <small class="text-danger" *ngIf="errorMessage">Wrong passcode</small>
                </div>

                <!-- Error messages -->
                <div class="text-danger" *ngIf="passcode?.invalid && passcode?.dirty">
                    <small>Passcode is required</small>
                </div>

                <!-- Submit button -->
                <button class="btn btn-primary m-3" type="button" (click)="verify()">Verify</button>

            </form>

        </div>

        <!-- Admin menu code -->
        <div class="col-md-8 mx-auto my-5 text-center verify" *ngIf="verified">

            <h3 class="text-success">Admin Panel</h3>
            <hr>

            <p>
                These panel got full access to the database and full roles
                and permissions on operations on the same. It's to help
                admin manage and track various aspect regarding users and 
                blogs.
            </p>

                <button class="btn btn-primary m-3" type="button" routerLink="users">Users</button>
                <button class="btn btn-success m-3" type="button" routerLink="blogs">Blogs</button>
                <button class="btn btn-info m-3" type="button" routerLink="messages">Messages</button>
                <button class="btn btn-dark m-3" type="button" routerLink="blog-requests">Blogs Request</button>

        </div>

    </div>
</div>