<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto login">

            <div class="heading text-center">
                <h2 class="text-success"><strong>Login</strong></h2>
                <hr>
            </div>

            <!-- Form -->
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

                <!-- Username -->
                <div class="form-group">
                    <label for="" class="mb-1 mt-3"><strong>Username</strong></label>
                    <input type="text" class="form-control" name="username" formControlName="username"
                    [class.is-invalid]="username?.invalid && username?.dirty"
                    >
                </div>

                <!-- Username error messages -->
                <div class="text-danger" *ngIf="username?.errors && username?.dirty">
                    <small *ngIf="username?.errors?.['required']">Enter your username</small>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="" class="mb-1 mt-3"><strong>Password</strong></label>
                    <input type="password" class="form-control" name="password" formControlName="password"
                    [class.is-invalid]="password?.invalid && password?.dirty"
                    >
                </div>

                <!-- Password error messages -->
                <div class="text-danger" *ngIf="password?.errors && password?.dirty">
                    <small *ngIf="password?.errors?.['required']">Enter your password</small>
                </div>

                <!-- Register button -->
                <button class="btn btn-primary m-3" type="submit" [disabled]="loginForm.invalid"><strong>Login</strong></button>

            </form>

            <!-- Already have account -->
            <div class="already text-center">
                <p><strong>Don't have account?</strong></p>
                <button class="btn btn-primary " type="button" (click)="switchRegister()"><strong>Register</strong></button>
            </div>

        </div>
    </div>
</div>