<div class="container">
    <div class="row topIntroduction">
        <div class="col-md-12 mx-auto">

            <div class="heading">
                <h1 class=" text-center myName"><strong>Cheborgei Vitalis Blog</strong></h1>
                <hr>

                <p>
                    Hello there? If you are not here by accident, you probably know me. In any case, I am
                    Vitalis, Kipyegon Kirui Vitalis, a full-stack software developer or a software engineer if 
                    you might call it. There a lot about me but I satisfied introducing myself with these words.
                    My favorite and choice of stack is MEAN stack, yes, <span class="text-success"><strong>MEAN</strong></span>.
                </p>
                <p>
                    If you are a software developer, you probably know that they stack is not the first choice
                    for many people. If not saying it's not popular but the trend is not rising compared to other 
                    stacks. At least the Angular part, I believe a number of people out there prefers 
                    <span class="text-success"><strong>Vue Js || React Js</strong></span> over 
                    angular. Personally, I love Angular and if you ask me, I will always choose Angular any day
                    any minute.
                </p>
                <p>
                    For new developers and those who wish to venture in software development field,
                    I am not endorsing Angular, I just saying my personal favorite. Don't make a decision
                    using it, believe me, I haven't tried either of the framework and the library.
                </p>
                <p>
                    Anyway, this is my personal blog, developed the entire system using MEAN stack. This is where I
                    think loud, share ideas, engage with you guys, argue software development topics, learn from you
                    good people, meet clients among other things we are going to explore. Cheers.
                </p>

            </div>

        </div>
    </div>

    <!-- Blogs row -->
    <div class="row blogs">

        <!-- Headings -->
        <div class="heading">
            <h2 class="text-center topBlogsName"><strong>Blogs</strong></h2>
            <hr>
            <p>
                This is it, this is where we engage. It's down to comments section guys. Welcome and let's have a productive 
                engagements.
            </p>

            <div class="list text-start">
                <p>
                    <strong>Remember;</strong>
                </p>
                <ul class="text-primary">
                    <li>Being polite doesn't cost a thing,</li>
                    <li>Lighting one's candle doesn't make yours less brighter,</li>
                    <li>Bugs in software engineering are as important as learning basics, don't be discourage,</li>
                    <li>You don't have to be right in your comments, try it and there learning and exchange of ideas begins </li>
                </ul>
                <p>
                    Let's get to it, cheers!
                </p>
            </div>
            
        </div>

        <!-- Trending and New blogs section -->
        <!-- Trending -->
        <div class="col-md-7 mx-auto my-2 activeBlogs">
        
            <!-- Heading -->
            <div class="heading text-center">
                <h2 class="active"><strong>Active Blogs</strong></h2>
                <p>
                    This section holds blogs that are popular based on total engagements each have. Use the join
                    button to expanding a blog of your choice. Then you get access to comments from
                    other users. Plus a form for you to enter engagement.
                </p>
            </div>

            <!-- Active Blogs -->
            <div *ngFor="let active of activeBlogs" class="pt-3">
                <ul>
                    <li><strong>{{active.title}} | <span class="category">{{active.category}}</span></strong></li>
                    <p>
                        {{active.description}}
                    </p>
                    <p class="text-primary">
                        {{active.createdAt | date}}
                    </p>
                    <button class="btn btn-primary m-1" type="button" (click)="openBlog(active._id)">Join</button>
                    <button class="btn btn-success  m-1">Star</button>
                </ul>

            </div>
        
        </div>
        
        <!-- New Blogs -->
        <div class="col-md-4 mx-auto my-2 newBlogs">
        
            <!-- Heading -->
            <div class="heading text-center">
                <h2 class="new"><strong>New Blogs</strong></h2>
                <hr>
                <p>
                    These are currently created blogs and just like trending blogs,
                    enter their engagements through the join button.
                </p>
            </div>

            <!-- Sample Blogs -->
            <div *ngFor="let new of newBlogs" class="pt-3">
                <ul>
                    <li><strong>{{new.title}} | <span class="category">{{new.category}}</span></strong></li>
                    <p>
                        {{new.description}}
                    </p>
                    <p class="text-primary">
                        {{new.createdAt | date}}
                    </p>
                    <button class="btn btn-primary m-1" type="button" (click)="openBlog(new._id)">Join</button>
                    <button class="btn btn-success  m-1">Star</button>
                </ul>
            
            </div>
        
        </div>

        <!-- Suggestion and Archirves -->

        <div class="col-md-8 mx-auto my-5 suggestion">

            <!-- heading -->
            <div class="heading">
                <h2 class="text-center suggestionN1"><strong>Suggestion and Archirves</strong></h2>
                <hr>
            </div>

            <p>
                You may have noticed that blogs being displayed runs for a short period
                of time. You may be new here or being nostagic on older blogs, great news, you can still access this 
                blogs using respective buttons below.
            </p>

            <!-- Buttons -->
            <div class="text-center">
                <a href="/archirves">
                    <button class="btn btn-primary m-2">Archirves</button>
                </a>
            
            </div>

            <!-- Suggestion form -->
            <div class="suggestionForm my-3">

                <div class="formTitle text-center">
                    <h3 class="suggestionN2"><strong>Suggest a blog</strong></h3>
                    <hr>
                </div>

                <!-- form -->
                <form action="" [formGroup]="suggestionForm" (ngSubmit)="submitSuggestion()">

                    <!-- Title -->
                    <div class="form-group">
                        <label for="" class="mt-3 mb-1"><strong>Title</strong></label>
                        <input type="text" class="form-control" name="title" formControlName="title">
                    </div>

                    <!-- Category -->
                    <div class="mt-3 mb-1">
                        <p class="mt-3 mb-1 label"><strong>Select category</strong></p>
                        <select class="custom-select" (change)="changeCategory($event)" name="category" formControlName="category">
                            <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
                        </select>
                    </div>

                    <!-- Blog -->
                    <div class="form-group">
                        <label for="" class="mt-3 mb-1"><strong>Blog</strong></label>
                        <textarea name="blog" id="" cols="30" rows="5" class="form-control" formControlName="blog" ></textarea>
                    </div>

                    <!-- Submit button -->
                    <button class="btn btn-primary m-3" type="submit">Submit</button>

                </form>

            </div>

        </div>
        
    </div>

</div>