h1, h2, h3, h4, h5, h6{
    background-color: rgb(194, 223, 250);
    padding: 2%;
    margin: auto;
    /* box-shadow: 0px 0px 10px -5px grey; */
    margin-bottom: 1%;
}

.myName{
    width: 50%;
    border-radius: 50px 0px 50px 0px;
}

.topBlogsName {
    width: 25%;
    border-radius: 50px 0px 50px 0px;
}

.active,
.new{
    width: 50%;
    border-radius: 50px 0px 50px 0px;
    padding: 5%;
}

.suggestionN1{
    width: 50%;
    border-radius: 35px 0px 35px 0px;
}

.suggestionN2 {
    width: 50%;
    border-radius: 35px 0px 35px 0px;
}

.topIntroduction{
    background-color: white;
    border-radius: 100px 0px 100px 0px;
    padding-top: 2%;
}

hr{
    display: none;
    width: 50%;
    margin: auto;
    padding-bottom: 2%;
}

.heading p{
    padding-left: 5%;
    padding-right: 5%;
}

/* Buttons */
button{
    border-radius: 20px 0px 20px 0px;
    font-size: 0.9rem;
}

/* Blog section code  */
.blogs{
    background-color: white;
    border-radius: 20px;
    margin-top: 1%;
    padding: 2%;
}

.list p{
    margin-left: 5%;
}

.list ul{
    margin-left: 10%;
}

.list li{
    font-weight: 600;
}

/* Trending blogs */
.activeBlogs{
    /* background-color: rgb(218, 236, 251); */
    padding: 2%;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 0px 0px 20px -10px grey;
}

.newBlogs{
    /* background-color: rgb(201, 255, 255); */
    padding: 2%;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 0px 0px 20px -10px grey;
}

.category{
    background-color: rgb(193, 225, 253);
    padding: 1px;
}

/* Suggestion styles */
label, .label{
    color: brown;
}

.suggestionForm{
    width: 75%;
    margin: auto;
    /* padding: 10%; */
}

.form-control{
    padding: 2%;
    border-radius: 20px 0px 30px 0px;
}

.custom-select{
    padding: 1%;
    border-radius: 10px 0px 10px 0px;
}

.suggestion{
    border-radius: 20px 0px 50px 0px;
    padding: 3%;
    box-shadow: 0px 0px 20px -10px grey;
}