<div class="container">

    <div class="row">
        <div class="col-md-10 mx-auto my-5">

            <div class="text-center">

                <h2 class=" text-success"><strong>Users panel</strong></h2>
                <hr>
                <p>
                    These page disclose all about users. It expose all of the information
                    about users. It will help you keep track on rate at which users are creating
                    accounts with us.
                </p>

            </div>

        </div>

        <div class="col-md-8 mx-auto">

            <h3 class="text-success text-center"><strong>All Users</strong></h3>
            <hr>

            <div class="allUsers">
                <!-- Total users -->
                <div class="total text-success">
                    <p><strong>Total : {{allUsers.length}} Users</strong></p>
                </div>

                <!-- All users table -->
                <table>
                    <tr>
                        <th><strong>First name</strong></th>
                        <th><strong>Last name</strong></th>
                        <th><strong>Username</strong></th>
                        <th><strong>Email</strong></th>
                        <th><strong>Subscription</strong></th>
                        <th><strong>Join on</strong></th>
                    </tr>
                    <tr *ngFor="let user of allUsers">
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.subscribe}}</td>
                        <td>{{user.createdAt | date}}</td>
                    </tr>
                </table>
            </div>

        </div>

        <!-- New users -->
        <div class="col-md-8 mx-auto pt-5">
        
            <h3 class="text-success text-center"><strong>New Users</strong></h3>
            <hr>
        
            <div class="allUsers">
                <!-- Total users -->
                <div class="total text-success">
                    <p><strong>Total : {{newUsers.length}} Users</strong></p>
                </div>
        
                <!-- All users table -->
                <table>
                    <tr>
                        <th><strong>First name</strong></th>
                        <th><strong>Last name</strong></th>
                        <th><strong>Username</strong></th>
                        <th><strong>Email</strong></th>
                        <th><strong>Subscription</strong></th>
                        <th><strong>Join on</strong></th>
                    </tr>
                    <tr *ngFor="let user of newUsers">
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.subscribe}}</td>
                        <td>{{user.createdAt | date}}</td>
                    </tr>
                </table>
            </div>
        
        </div>

    </div>

    <!-- Switch panel row -->
    <div class="row switchPanel">
        <div class="col-md-6 mx-auto text-center my-3">
            <h2><strong>Switch Panel</strong></h2>
            <p>
                Use respective buttons below to switch between other admin panels.
            </p>
    
            <!-- Buttons -->
            <a href="admin/all-blogs"><button class="btn btn-info m-3">All Blogs</button></a>
            <a href="admin/blogs"><button class="btn btn-primary m-3"><strong>Blogs</strong></button></a>
            <a href="admin/messages"><button class="btn btn-dark m-3">Messages</button></a>
            <a href="admin/blog-requests"><button class="btn btn-success m-3">Blog Requests</button></a>
    
        </div>
    </div>

</div>