.category {
    background-color: rgb(193, 225, 253);
    padding: 5px;
}

.container-fluid{
    width: 85%;
    margin: auto;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-radius: 100px 0px 150px 0px;
}

.col-md-4{
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 1%;
    box-shadow: 0px 0px 2px 0px;
    border-radius: 70px 0px 100px 0px;
    background-color: rgb(254, 244, 228);
}


/* Buttons */
button {
    border-radius: 150px 0px 150px 0px;
    font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: rgb(194, 223, 250);
    padding: 1%;
    margin: auto;
    margin-bottom: 1%;
}

h1 {
    width: 60%;
    border-radius: 150px 0px 150px 0px;
    margin: auto;
    margin-bottom: 3%;
}