<div class="container-fluid">
    <div class="row overallRow">
        <div class="col-md-6 mx-auto archirves">

            <div class="heading text-center">
                <h1><strong>ARCHIRVES</strong></h1>
                <p>
                    Welcome to Archirves, this is where our old and inactive blogs are backed up. I try have
                    the homepage as neat and simple as possible. Anyway, meet all our ever existing blogs.
                </p>
            </div>

        </div>

    </div>

    <!-- Blogs -->
    <div class="row blogsRow">
        <div class="col-md-4 mx-auto" *ngFor="let blog of allBlogs">
            <ul>
                <li><strong>{{blog.title}} | <span class="category">{{blog.category}}</span></strong></li>
                <p>
                    {{blog.description}}
                </p>
                <p class="text-primary">{{blog.createdAt | date}}</p>
                <button class="btn btn-primary m-1">Open</button>
                <button class="btn btn-success  m-1">Star</button>
            </ul>
        </div>              

    </div>

    <div class="row">
        <div class="col-md-3 mx-auto">
            <!-- Load more button -->
            <button class="btn btn-dark m-3">Load More</button>
        </div>
    </div>

</div>