<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto my-5">

            <!-- Introductory part -->

            <div class="heading">
                <h1><strong>Contact Me</strong></h1>
                <hr>
                <p>
                    There are a couple of reasons why you are in this page!
                </p>
                <ul>
                    <li>Just browsing around?</li>
                    <li>Potential client | Interested in my service?</li>
                    <li>Potential employer | Want to hire me?</li>
                    <li>Just another software developer | student?</li>
                </ul>
                <p>
                    You might want to reach out to me, don't hesitate. Fill in the form and I will 
                    reach back to you.
                </p>
            </div>

            <!-- Contact me form -->
            <div class="form my-5">

                <form action="">

                    <!--Email address  -->
                    <div class="form-group">
                        <label for="" class="mt-3 mb-1"><strong>Email address</strong></label>
                        <input type="email" class="form-control">
                    </div>

                    <!-- Message itself -->
                    <div class="form-group">
                        <label for="" class="mt-3 mb-1"><strong>Message</strong></label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                    </div>

                    <!-- Submit button -->
                    <button class="btn btn-primary m-3" type="submit">Submit</button>

                </form>
            </div>

        </div>
    </div>
</div>