<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto contact">

            <!-- Introductory part -->

            <div>
                <h1><strong>Contact Me</strong></h1>
                <hr>
                <p>
                    There are a couple of reasons why you are in this page!
                </p>
                <ul>
                    <li>Just browsing around?</li>
                    <li>Potential client | Interested in my service?</li>
                    <li>Potential employer | Want to hire me?</li>
                    <li>Just another software developer | student?</li>
                </ul>
                <p>
                    You might want to reach out to me, don't hesitate. Fill in the form and I will 
                    reach back to you.
                </p>
            </div>

            <!-- Contact me form -->
            <div class="form my-5">

                <form action="" [formGroup]="contactForm" (ngSubmit)="submit()">

                    <!--Email address  -->
                    <div class="form-group">
                        <label for="" class="mt-3 mb-1"><strong>Email address</strong></label>
                        <input type="email" class="form-control" name="email" formControlName="email"
                        [class.is-invalid]="email?.invalid && email?.dirty"
                        >
                    </div>

                    <!-- Email error messages -->
                    <div class="text-danger" *ngIf="email?.invalid && email?.dirty">
                        <small *ngIf="email?.errors?.['required']">Email required</small>
                        <small *ngIf="email?.errors?.['pattern']">Invalid email adress</small>
                    </div>

                    <!-- Message itself -->
                    <div class="form-group">
                        <label for="" class="mt-3 mb-1"><strong>Message</strong></label>
                        <textarea name="message" id="" cols="30" rows="5" class="form-control" formControlName="message"
                        [class.is-invalid]="message?.invalid && message?.dirty"
                        ></textarea>
                    </div>

                    <!-- Message error messages -->
                    <div class="text-danger" *ngIf="message?.invalid && message?.dirty">
                        <small *ngIf="message?.errors?.['required']">Message required</small>
                        <small *ngIf="message?.errors?.['forbiddenterm']">{{message?.errors?.['forbiddenterm'].value}} is not accepted</small>                        
                    </div>

                    <!-- Submit button -->
                    <button class="btn btn-primary m-3" type="submit">Sent</button>

                </form>

            </div>

            <!-- After form submit -->
            <!-- <div class="aftersubmit text-center text-success">

                <h2><strong>Success</strong></h2>
                <hr>
                <p>
                    Thanks for reaching out, I will get back to you as soon as possible.
                </p>

            </div> -->

            <!-- Other contacts -->
            <div class="socialMedia">

                <div class="heading">
                    <h3 class="text-success text-center"><strong>Social Media</strong></h3>
                    <hr>
                    <p>
                        These are my social media handles, the only ones. For some reason you might
                        prefer reaching out using them. I response faster to contacts made through the above form though.
                        This is becuase I get notified when there is a new message and I check it regularly too.
                    </p>
                </div>

                <!--Social media handles  -->
                <div class="handles">
                    <ul>
                        <li><strong><a href="">Twitter</a></strong></li>
                        <li><strong><a href="">Facebook</a></strong></li>
                        <li><strong><a href="">Linked In</a></strong></li>
                        <li><strong><a href="">Github</a></strong></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</div>