<div class="container">
    <div class="row blogAdmin">
        <div class="col-md-12 mx-auto">

            <!-- Heading -->
            <div class="text-center heading">
                <h1 class="text-success"><strong>Blogs Panel</strong></h1>
                <p>
                    This panel displays created blog posts on the left to assist admin manage and track them. 
                    To the rigth is a form for creating a new blog post. Expanding a blog post displays more 
                    details on the blog and more management information about the same.
                </p>
            </div>

        </div>

        <!-- Existing blogs and blog form -->
        <!-- Running blogs -->
        <div class="col-md-5 mx-auto my-3 runningBlogs">

            <div class="text-center heading">
                <h2 class="text-success"><strong>Running Blogs</strong></h2>
                <p>
                    These are blogs that are currently running and users are able to interact with them. 
                    You can expand any of them by clicking on them, through this, you can access a more comprehensive 
                    details and action buttons.
                </p>
            </div>

            <!-- Sample Blogs -->
            <div class="blogs">
                <ul>
                    <li><strong>Choice of Frontend Frameworks</strong></li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti enim ipsum est optio. 
                        Quo architecto, nesciunt sapiente tenetur laboriosam ea quibusdam amet quia 
                        molestias necessitatibus, minus dolorum repellendus repudiandae doloribus.
                    </p>
                        <button class="btn btn-primary btn-sm m-1">Expand</button>
                        <button class="btn btn-success btn-sm m-1">Archirve</button>
                        <button class="btn btn-danger btn-sm m-1">Delete</button>
                </ul>

                <ul>
                    <li><strong>Choice of Frontend Frameworks</strong></li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti enim ipsum est optio.
                        Quo architecto, nesciunt sapiente tenetur laboriosam ea quibusdam amet quia
                        molestias necessitatibus, minus dolorum repellendus repudiandae doloribus.
                    </p>
                    <button class="btn btn-primary btn-sm m-1">Expand</button>
                    <button class="btn btn-success btn-sm m-1">Archirve</button>
                    <button class="btn btn-danger btn-sm m-1">Delete</button>
                </ul>

                <ul>
                    <li><strong>Choice of Frontend Frameworks</strong></li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti enim ipsum est optio.
                        Quo architecto, nesciunt sapiente tenetur laboriosam ea quibusdam amet quia
                        molestias necessitatibus, minus dolorum repellendus repudiandae doloribus.
                    </p>
                    <button class="btn btn-primary btn-sm m-1">Expand</button>
                    <button class="btn btn-success btn-sm m-1">Archirve</button>
                    <button class="btn btn-danger btn-sm m-1">Delete</button>
                </ul>
            </div>

        </div>

        <!-- Blog creation form -->
        <div class="col-md-6 mx-auto my-3 blogForm">

            <div class="text-center heading">
                <h2 class="text-success"><strong>Create a new Blog</strong></h2>
                <p>
                    Use this blog form to create a new blog post.
                </p>
            </div>

            <!-- Blog form -->
            <div class="form">

                <form action="">

                    <!-- Image -->
                    <div class="form-group">
                        <label for="" class="mb-1 mt-3"><strong>Image</strong></label>
                        <input type="file" class="form-control">
                    </div>

                    <!-- Title -->
                    <div class="form-group">
                        <label for="" class="mb-1 mt-3"><strong>Title</strong></label>
                        <input type="text" class="form-control">
                    </div>

                    <!-- Category -->
                    <div class="form-group mb-3 mt-3">
                        <p class="text-primary"><strong>Select categories applicable</strong></p>
                        <input type="checkbox" class="form-check-input">
                        <label for="" class="form-check-label">General software engineering</label>
                    </div>
                    <div class="form-group mb-3 mt-3">
                        <input type="checkbox" class="form-check-input">
                        <label for="" class="form-check-label ">MEAN Stack</label>
                    </div>
                    <div class="form-group mb-3 mt-3">
                        <input type="checkbox" class="form-check-input">
                        <label for="" class="form-check-label">Angular</label>
                    </div>
                    <div class="form-group mb-3 mt-3">
                        <input type="checkbox" class="form-check-input">
                        <label for="" class="form-check-label">Others</label>
                    </div>

                    <!-- Blog body -->
                    <div class="form-group">
                        <label for="" class="mb-1 mt-3">Description</label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                    </div>

                    <!-- Buttons -->
                    <button class="btn btn-primary m-3">Post</button>
                    <button class="btn btn-info m-3">Reset</button>

                </form>

            </div>

        </div>

    </div>

    <!-- Switch panel row -->
    <div class="row switchPanel">
        <div class="col-md-6 mx-auto text-center my-3">
            <h2><strong>Switch Panel</strong></h2>
            <p>
                Use respective buttons below to switch between other admin panels.
            </p>

            <!-- Buttons -->
            <a href="admin/users"><button class="btn btn-primary m-3"><strong>Users</strong></button></a>
            <a href="admin/messages"><button class="btn btn-info m-3">Messages</button></a>

        </div>
    </div>

</div>