.heading{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

.blogAdmin{
    background-color: white;
    border-radius: 20px;
}

.heading hr{
    width: 50%;
    margin: auto;
    padding-bottom: 1%;
}

/* Running and blog form styles */
.runningBlogs{
    background-color: aliceblue;
    border-radius: 20px;
    padding-top: 1%;
}

.blogForm{
    background-color: beige;
    border-radius: 20px;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

label{
    color: brown;
}

.form{
    width: 85%;
    margin: auto;
    padding-bottom: 2%;
}