<div class="container">
    <div class="row blogAdmin">
        <div class="col-md-12 mx-auto">

            <!-- Heading -->
            <div class="text-center heading">
                <h1 class="text-success"><strong>Admin | Blogs Panel</strong></h1>
                <hr>
                <p>
                    This panel displays created blog posts on the left to assist admin manage and track them. 
                    To the rigth is a form for creating a new blog post. Expanding a blog post displays more 
                    details on the blog and more management information about the same.
                </p>
            </div>

        </div>

        <!-- Existing blogs and blog form -->
        <!-- Running blogs -->
        <div class="col-md-5 mx-auto my-3 runningBlogs">

            <div class="text-center heading">
                <h2 class="text-success"><strong>Running Blogs</strong></h2>
                <hr>
                <p>
                    These are blogs that are currently running and users are able to interact with them. 
                    You can expand any of them by clicking on them, through this, you can access a more comprehensive 
                    details and action buttons.
                </p>
            </div>

        </div>

        <!-- Blog creation form -->
        <div class="col-md-6 mx-auto my-3 blogForm">

            <div class="text-center heading">
                <h2 class="text-success"><strong>Create a new Blog</strong></h2>
                <hr>
                <p>
                    Use this blog form to create a new blog post.
                </p>
            </div>

        </div>

    </div>
</div>