.heading{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

.blogAdmin{
    background-color: white;
    border-radius: 20px;
}

/* Running and blog form styles */
.runningBlogs{
    background-color: rgb(209, 231, 250);
    /* padding: 5%; */
    border-radius: 150px 0px 150px 0px;
    padding-top: 1%;
}


label, .label{
    color: brown;
    font-weight: 600;
}

.form{
    width: 85%;
    margin: auto;
    padding-bottom: 2%;
}

/* Switch panel code */
.switchPanel{
    background-color: white;
    border-radius: 20px;
    margin-top: 2%;
}

h1 {
    background-color: rgb(209, 231, 250);
    width: 50%;
    margin: auto;
    border-radius: 100px 0px 100px 0px;
    color: black !important;
    padding: 1%;

}

h2{
    background-color: white;
    color: black !important;
    width: 65%;
    margin: auto;
    padding: 1%;
    margin-bottom: 5%;
    border-radius: 150px 0px 150px 0px;
}

.switchPanel h2{
    background-color: rgb(209, 231, 250);
    width: 65%;
    margin: auto;
    padding: 1%;
    border-radius: 150px 0px 150px 0px;
}

.blogForm {
    background-color: rgb(233, 233, 156);
    padding: 1%;
    border-radius: 150px 0px 150px 0px;
}

button {
    font-size: 0.8rem;
    border-radius: 150px 0px 150px 0px;
}

.heading p{
    margin-bottom: 2%;
}